.top-100 {
    margin-top:100px;
}
.top-50 {
    margin-top:50px;
}
.top-20 {
    margin-top:20px;
}
.li-ellipsis {
	list-style:none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:100px;
}